<div class="table-container">
    <table>
        <caption style="padding-bottom: 30px; font-size: 40px;">User Record</caption>
        <thead>
        <col style="width: 300px">
        <col style="width: 400px">
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in userData">
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td class="btn-primary del-btn" ng-click="deleteUser(user.username)">Delete</td>
        </tr>
        </tbody>
    </table>
</div>
