<div class="SignUpForm">
    <h1 class="sign-up">Sign Up</h1>
    <div align="center">
        <form name="form" ng-submit="createUser(form)">
            <div>
                <input class="form-control" type="text" placeholder="Username" name="name" required ng-model="name"
                       ng-minlength="2" ng-maxlength="20">
            </div>
            <div>
                <input class="form-control" type="email" placeholder="Email" name="email" required ng-model="email">

            </div>
            <div>
                <input class="form-control" type="password" placeholder="Password" name="password" required
                       ng-model="password" ng-minlength="5">
            </div>
            <div align="center">
                <!--            <button class="btn-primary" type="submit" ng-disabled="!(form.email.$valid && form.name.$valid && form.password.$valid)">Sign Up</button><br>-->
                <button class="btn-primary" type="submit" ng-disabled="form.$invalid">Sign Up</button>
                <br>
            </div>
        </form>
    </div>
    <p class="text-xs-center">
        <a class="link" href="#/login">
            Have an account?
        </a>
    </p>
    <br><br>
    <button class="btn-primary secondary" type="submit" ng-click="getProducts()">Show Products</button>
</div>
